form {
    margin-top: 2rem;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.form-actions button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.form-actions button:hover {
    background: rgb(148, 148, 148);
    cursor: pointer;
}

.form-actions .dark-button {
    background: black;
    color: white;
}

