.upper-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#project-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    margin-left: 2rem;
}

#project-details h2 {
    color: rgb(221, 221, 221);
}

#control-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

#control-buttons button {
    background: rgb(214, 214, 214);
    border: none;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.lower-section {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.add-task-controls {
    display: flex;
    margin-bottom: 1rem;
}

.lower-section ol {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
}