header {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 2rem;
    text-align: center;
    margin-left: 10%;
}

@media (max-width: 35em) {
    header {
        margin-left: 20%;
    }
}