.lower-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.add-task-controls {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.add-task-controls input {
    padding: 0;
}

.add-task-controls button {
    margin-left: 1rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.priority {
    max-width: 2rem;
}

.task-done {
    color: green;
}