.upper-section {
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
}

.project-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    
}

.project-details h2 {
    color: rgb(221, 221, 221);
}

@media (max-width: 1000px) {
    .upper-section {
        gap: 0rem;
        text-wrap: wrap;
        font-size: 12px;
        margin-left: 1rem;
    }
}

#control-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#control-buttons button {
    border: none;
    margin: 0.5rem 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#control-buttons button:hover {
    background: rgb(153, 153, 153);
}
